<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089834274001-0ffjr24vg2fegf10cgaf072rhpf47uum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089834274001-0ffjr24vg2fegf10cgaf072rhpf47uum</string>
	<key>API_KEY</key>
	<string>AIzaSyAVD566aNVMwpeJcS2Z_UsxMfZxaH9XKJE</string>
	<key>GCM_SENDER_ID</key>
	<string>1089834274001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coolcodes.newsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-80747</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-80747.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089834274001:ios:a2196d03f68066bbd8c9f0</string>
	<key>DATABASE_URL</key>
	<string>https://newsapp-80747.firebaseio.com</string>
</dict>
</plist>